{% extends "base.html" %}

{% block content %}
  <h1>{{ support_case }}</h1>

  <ul>
  {% for support_case_message in support_case_messages %}
    <li>
      {{ support_case_message.content }}
      <p>
        {% if support_case_message.from_user.is_staff %}
          <b>Agent</b>
        {% endif %}
        <i>{{ support_case_message.from_user }}</i> @ {{ support_case_message.created_at }}</p>
    </li>
  {% empty %}
      There are no messages for this support case...
  {% endfor %}
  </ul>

  <form id="messages_create_form" action="{% url 'messages_create' support_case.id %}" method="post" onSubmit="document.querySelector('#messages_create_form input[type=\'submit\']').disabled=true;">
      {% csrf_token %}
      {{ message_form }}
      <input type="submit" value="Send">
  </form>
{% endblock %}
