{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Customer Chat</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="{% static 'custom.css' %}">
</head>
<body>
  <header>
    <nav>
      <span>Customer Chat</span>
      {% if user.is_authenticated %}
        <a href="{% url "index" %}">Support Cases</a>
        <i>Logged in as <b>{{ user }}</b></i>
        <form id="logout-form" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Log out</button>
        </form>
      {% endif %}
    </nav>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
