/* Customize Simple.css */
body>header {
  padding-bottom: 0;
}

body>header>:only-child {
  margin-block-start: unset;
}

body>header>nav {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: baseline;
}

body>header>nav>a {
  border: unset;
  text-decoration: underline;
  padding: unset;
}

body>header>nav>span:first-child {
  font-size: 1.5rem;
}

#logout-form {
  display: inline-block;
}

#logout-form button {
  background: none;
  border: none;
  text-decoration: underline;
  color: unset;
}

h1 {
  font-size: 2.2rem;
}

/* Custom styles unrelated to Simple.css */
ul.messages {
  padding: 0;
}

ul.messages>li.notice {
  list-style-type: none;
  margin: 0.2rem 0;
}

ul.support_case_messages {
  display: flex;
  flex-direction: column;
  padding: 0;
}

ul.support_case_messages>li {
  list-style-type: none;
  padding: 0.2rem;
  max-width: 90%;
  margin-bottom: 1rem;
}

ul.support_case_messages>li.from_user {
  align-self: flex-end;
  display: flex;
  flex-direction: column;
}

ul.support_case_messages>li.from_user>p:last-child {
  align-self: flex-end;
}

ul.support_case_messages>li.from_user>p:first-child {
  background-color: var(--accent);
  color: var(--accent-text);
}

ul.support_case_messages>li>p {
  margin: 0;
}

ul.support_case_messages>li>p:first-child {
  display: inline-block;
  border: 1px solid var(--border);
  border-radius: var(--standard-border-radius);
  padding: 0.4rem;
}
