/* Customize Simple.css */
body>header {
  padding-bottom: 0;
}

body>header>:only-child {
  margin-block-start: unset;
}

body>header>nav {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: baseline;
}

body>header>nav>a {
  border: unset;
  text-decoration: underline;
  padding: unset;
}

body>header>nav>span:first-child {
  font-size: 1.5rem;
}

#logout-form {
  display: inline-block;
}

#logout-form button {
  background: none;
  border: none;
  text-decoration: underline;
  color: unset;
}

h1 {
  font-size: 2.2rem;
}

/* Custom styles unrelated to Simple.css */
ul.messages {
  padding: 0;
}

ul.messages>li.notice {
  list-style-type: none;
  margin: 0.2rem 0;
}
